<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jike.mobilemanager_jk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.jike.application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:icon="@drawable/icon"
            android:label="手机卫士"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:launchMode="singleTask" />
        <activity
            android:name=".SettingActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".PreThiefSetup1"
            android:launchMode="singleTask" />
        <activity
            android:name=".PreThiefSetup2"
            android:launchMode="singleTask" />
        <activity
            android:name=".PreThiefStart"
            android:launchMode="singleTask" />
        <activity
            android:name=".PreThiefSetup3"
            android:launchMode="singleTask" />
        <activity
            android:name=".PreThiefSetup4"
            android:launchMode="singleTask" />
        <activity android:name=".PreThiefEnd" />
        <activity android:name=".MyContactView" />

        <receiver
            android:name="com.jike.broadcastReceiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.jike.broadcastReceiver.SmsBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.jike.service.GetLocationService"
            android:enabled="true"
            android:exported="true" />

        <!-- DeviceAdminReceiver -->
        <receiver
            android:name="com.jike.broadcastReceiver.MyAdminReceiver"
            android:description="@string/sample_device_admin_description"
            android:label="@string/sample_device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <activity android:name=".MyBaseActivity" />
        <activity android:name=".AdvanceTool" />
        <activity android:name=".AdvToolPhoLocation" />

        <service
            android:name="com.jike.service.MyNumberLocationService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".SetMyToastLocation" />
        <activity android:name=".PackageManagerActivity" />

        <provider
            android:name="com.jike.provider.MyContentProvider"
            android:authorities="com.jike.mobilemanager_jk"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name="com.jike.service.MyLockAppService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".LockAppActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".ProcessManagerActivity" />

        <receiver android:name="com.jike.widget.MyAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info" />
        </receiver>

        <activity android:name=".ScanCacheActivity" />
        <activity android:name=".TeleManagerActivity" />

        <service
            android:name="com.jike.service.BlackListService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".AntiVirusActivity" />
        <activity android:name=".DataUsageActivity"></activity>
    </application>

</manifest>
